<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitHubSearch2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B40F4E51D474FDC0054AC15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B40F4FB1D474FDD0054AC15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B40F5061D474FDD0054AC15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
